<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContosoPizza</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContosoPizza.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="bg-white border-b shadow mb-3">
            <div class="container mx-auto px-4">
                <a class="text-xl font-bold" asp-area="" asp-page="/Index">ContosoPizza</a>
                <button
                    class="block lg:hidden px-3 py-2 border rounded text-gray-700 border-gray-400 hover:text-black hover:border-black"
                    type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse lg:flex lg:items-center lg:justify-between">
                    <ul class="flex flex-col lg:flex-row lg:space-x-4 w-full lg:w-auto">
                        <li class="nav-item">
                            <a class="block py-2 px-4 text-gray-700 hover:text-black" asp-area=""
                                asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="block py-2 px-4 text-gray-700 hover:text-black" asp-area=""
                                asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="block py-2 px-4 text-gray-700 hover:text-black" asp-area=""
                                asp-page="/PizzaList">Pizza List 🍕</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t text-gray-600">
        <div class="container mx-auto px-4">
            &copy; 2023 - ContosoPizza - <a class="hover:underline" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
