<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContosoPizza</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContosoPizza.styles.css" asp-append-version="true" />
</head>

<body class="min-h-screen flex flex-col">
    <header>
        <nav class="border-b shadow">
            <div class="container mx-auto px-4 lg:px-6 py-2.5">
                <a class="relative z-10 text-xl font-bold" asp-area="" asp-page="/Index">ContosoPizza</a>

                <div class="flex items-center justify-center absolute top-0 left-0 right-0 my-1">
                    <ul class="flex font-medium">
                        <li>
                            <a class="block py-2 px-4 text-sky-700 hover:text-black" asp-area=""
                                asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="block py-2 px-4 text-sky-700 hover:text-black" asp-area=""
                                asp-page="/Privacy">Privacy</a>
                        </li>
                        <li>
                            <a class="block py-2 px-4 text-sky-700 hover:text-black" asp-area=""
                                asp-page="/PizzaList">Pizza List 🍕</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mx-auto px-4 py-6 flex-grow">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t text-gray-600">
        <div class="container mx-auto px-4">
            &copy; 2023 - ContosoPizza - <a class="hover:underline" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
