@page
@model IndexModel
@{
    ViewData["Title"] = "The Home for Pizza Lovers";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="text-4xl font-bold">Welcome to Contoso Pizza</h1>
    <p class="text-xl">The best pizza in town for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
</div>
